html,
.body-assassins-creed-mirage{
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment: fixed;
    overflow: hidden auto;
}

.body-scars-above{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden auto;
}

.body-wild-hearts{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden auto;
}

.game-review-sector{
    margin-top: 150px;
}

.game-review-sector h2{
    position: relative;
    margin-bottom: 15px;
    margin-inline-start: 210px;
    font-size: 28px;
    line-height: 1.1;
    color: #e7e7e7;
    font-size: 26px;
    font-weight: 600;
}

.review-video{
    position: relative;
    margin-top: 0px;
    margin-inline-start: 20%;
    height: 334px;
    width: 590px;
    border: 2px solid #00000060;
}

.review-image-1{
    position: relative;
    margin-top: 1px;
    margin-inline-start: 20%;
    height: 77px;
    width: 142px;
    display: inline-block;
    border: 2px solid #00000060;
}

.review-image-2{
    position: relative;
    margin-top: 1px;
    height: 77px;
    width: 142px;
    margin-inline-start: 3px;
    border: 2px solid #00000060;
}

.review-image-3{
    position: relative;
    margin-top: 1px;
    height: 77px;
    width: 142px;
    margin-inline-start: 3px;
    border: 2px solid #00000060;
}

.review-image-4{
    position: relative;
    margin-top: 1px;
    height: 77px;
    width: 142px;
    margin-inline-start: 3px;
    border: 2px solid #00000060;
}

.info-review{
    position: relative;
    margin-top: 40%;
    margin-right: 30%;
}

.review-image-5{
    position: relative;
    margin-top: 1px;
    height: 180px;
    width: 370px;
    margin-inline-start: 3px;
    border: 1px solid #00000060;
}

.info-review h3{
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #e7e7e7;
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}

.info-review del{
    color: #e7e7e7;
    font-weight: 500;
}

.p-review-text{
    color: #e7e7e7;
    font-weight: 400;
    max-width: 450px;
    margin-top: 30px;
    font-size: 14px;
}

.publisher-review{
    color: #e7e7e7;
    font-weight: 400;
    max-width: 450px;
    margin-top: 10px;
    font-size: 12px;
}